*{
box-sizing:border-box;
}


body{

margin:0;

background:
linear-gradient(135deg,#080808,#3b001d);

font-family:Arial,sans-serif;

color:white;

overflow-x:hidden;

}





#entrada{

position:fixed;

width:100%;

height:100vh;

background:
linear-gradient(135deg,#080808,#3b001d);

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

z-index:100;

text-align:center;

}



#entrada h1{

font-size:65px;

color:#ff8fbd;

}



#entrada p{

font-size:22px;

max-width:500px;

}



.entrada-coracao{

font-size:120px;

animation:pulsar 1.5s infinite;

}






header{

position:fixed;

top:15px;

width:100%;

display:flex;

justify-content:center;

z-index:10;

}





.player{

width:90%;

max-width:650px;

height:80px;

padding:10px 15px;

display:flex;

align-items:center;

gap:15px;

background:rgba(255,255,255,.12);

border-radius:20px;

backdrop-filter:blur(15px);

box-shadow:0 0 25px #ff4f8b;

}





.capa{

width:60px;

height:60px;

border-radius:12px;

object-fit:cover;

}




.info{

flex:1;

text-align:left;

}



.info h3{

margin:0;

}



.info p{

margin:5px 0;

color:#ffc1db;

}





button{

background:#ff4f8b;

border:none;

padding:15px 25px;

border-radius:30px;

color:white;

font-size:17px;

cursor:pointer;

}





main{

padding-top:140px;

}




section{

min-height:100vh;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

text-align:center;

padding:30px;

}



.coracao-grande{

font-size:120px;

animation:pulsar 1.5s infinite;

}




.contador{

display:flex;

gap:15px;

flex-wrap:wrap;

justify-content:center;

}




.contador div{

width:110px;

padding:20px;

background:rgba(255,255,255,.12);

border-radius:20px;

box-shadow:0 0 20px #ff4f8b;

}



.contador span{

font-size:35px;

color:#ff9ac4;

}





#texto,
#finalTexto{

font-size:22px;

line-height:1.7;

max-width:700px;

}





.cards{

display:flex;

flex-wrap:wrap;

gap:20px;

justify-content:center;

}



.cards div{

width:150px;

padding:20px;

background:rgba(255,255,255,.12);

border-radius:20px;

font-size:25px;

}





#mensagemFinal{

display:none;

max-width:650px;

margin-top:30px;

padding:30px;

background:rgba(255,255,255,.12);

border-radius:25px;

animation:aparecer 1s;

}





.coracao{

position:fixed;

top:-20px;

animation:cair linear forwards;

}





@keyframes cair{

to{

transform:translateY(110vh);

opacity:0;

}

}




@keyframes pulsar{

50%{

transform:scale(1.2);

}

}




@keyframes aparecer{

from{

opacity:0;

transform:scale(.8);

}

to{

opacity:1;

}

}








/* ========================= */
/* RESPONSIVO PARA CELULAR 📱 */
/* ========================= */


@media (max-width:600px){



body{

overflow-x:hidden;

}




.player{

width:94%;

height:75px;

padding:8px;

gap:10px;

}





.capa{

width:50px;

height:50px;

}





.info h3{

font-size:14px;

}



.info p{

font-size:12px;

}





.curtir{

display:none;

}





.play{

width:40px;

height:40px;

font-size:16px;

}





main{

padding-top:120px;

}





.entrada-coracao{

font-size:90px;

}





#entrada h1{

font-size:45px;

}





#entrada p{

font-size:18px;

padding:0 20px;

}





#entrada button{

font-size:15px;

}





.coracao-grande{

font-size:90px;

}





section{

padding:20px;

}





h2{

font-size:25px;

}





.contador{

gap:10px;

}





.contador div{

width:90px;

padding:15px 5px;

}





.contador span{

font-size:28px;

}





.contador p{

font-size:14px;

}





#texto,
#finalTexto{

font-size:18px;

line-height:1.5;

}





.cards{

gap:12px;

}





.cards div{

width:130px;

font-size:20px;

}





button{

font-size:15px;

padding:13px 20px;

}





#mensagemFinal{

padding:20px;

}




}


.visitas{

margin-top:30px;

padding:20px;

background:rgba(255,255,255,.12);

border-radius:20px;

box-shadow:0 0 20px #ff4f8b;

font-size:18px;

}


.visitas span{

font-size:35px;

color:#ff9ac4;

}